<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paléonth’Orléans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_accueil.css') }}">
</head>
<body>
    <main>
        <section class="campagne">
            <h1>Campagnes en cours</h1>
            <div class="plus">
                <img src="{{ url_for('static', filename='img/plus.png') }}" alt=""> 
            </div>


            <article>
                <div class="nom_date">
                    <h2>CPG-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>CPG-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>CPG-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>CPG-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>CPG-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>



        </section>
        <section class="plateforme">
            <h1>Plateformes en cours</h1>
            <div class="plus">
                <img src="{{ url_for('static', filename='img/plus.png') }}" alt="">
            </div>


            <article>
                <div class="nom_date">
                    <h2>PTF-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>PTF-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>PTF-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>PTF-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            <article>
                <div class="nom_date">
                    <h2>PTF-Alpha</h2>
                    <p>date de début : 2025-06-21</p>
                </div>
                <div class="position">
                    <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                    <p>4 rue des roses Blois</p>
                </div>
            </article>
            <div class="trait_horizontal"></div>
            



        </section>
    </main>
</body>
</html>