{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_accueil.css') }}">
{% endblock %}

{% block main %}

<section class="block">
    <section class="campagne">
        <h1>Campagnes en cours</h1>
        <div class="plus">
            <img src="{{ url_for('static', filename='img/plus.png') }}" alt=""> 
        </div>

        {%for cpg in campagnes%}
        <article>
            <div class="nom_date">
                <h2> Numéro de campagne : {{cpg["num"]}}</h2>
                <p>date de début : {{cpg["date"]}}</p>
            </div>
            <div class="position">
                <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                <p>{{cpg["plat"]}}</p>
            </div>
            
        </article>
        <div class="trait_horizontal"></div>
        {% endfor %}

    </section>
    <section class="plateforme">
        <h1>Plateformes en cours</h1>
        <div class="plus">
            <img src="{{ url_for('static', filename='img/plus.png') }}" alt="">
        </div>

        {%for plt in plateformes%}
        <article>
            <div class="nom_date">
                <h2>{{plt["nom"]}}</h2>
                <p>dernière maintenance : {{plt["maint"]}}</p>
            </div>
            <div class="position">
                <img src="{{ url_for('static', filename='img/position.png') }}" alt="">
                <p>{{plt["lieu"]}}</p>
                <a href="{{ url_for('detail_plateforme', nomPlateforme =plt['nom'] ) }}">détails</a>
            </div>
        </article>
        <div class="trait_horizontal"></div>
        {% endfor %}

    </section>
</section>
{% endblock %}