 {% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ajout_echantillon.css') }}">
{% endblock %}

{% block main %}
<section id="ajout">
    <h2>Analyser l'échantillon : {{ fichier.nomFichier }}</h2>
    <form class="form-horizontal" role="form" method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.proba_r.label }}
            {{ form.proba_r(class="form-control", placeholder="0-100") }}
        </div>
        <div class="form-group">
            {{ form.proba_d.label }}
            {{ form.proba_d(class="form-control", placeholder="0-100") }}
        </div>
        <div class="form-group">
            {{ form.proba_i.label }}
            {{ form.proba_i(class="form-control", placeholder="0-100") }}
        </div>

        <div class="boutons_form">
            <a href="{{ url_for('accueil') }}" class="annuler">Annuler</a>
            <button type="submit" class="boutons_plat">Lancer l'analyse</button>
        </div>
    </form>
</section>
{% endblock %}
