<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SAE Web</title>
    <link rel="stylesheet" href="">
</head>
<body>

<div class="header">
    <a href="" >
    <img src="" alt="logo">
    </a>

    <div class="header-actions">

        <a href="" >
            <img src="" alt="quitter">
        </a>

        <a href="">
            <img src="" alt="param">
        </a>
        
        <a href="">
            <img src="" alt="profil">
        </a>

    </div>

</div>


{% block main %}

{% endblock %}


</body>
</html>