{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_connexion.css') }}">
{% endblock %}

{% block main %}
<form class="form-horizontal" role="form" method ="POST" action ="{{ url_for ('connexion') }}">
{{ form.hidden_tag() }}
<section class="block">
    <section>
        <h2>Se Connecter</h2>
        
            <input 
            type="text" 
            id="{{ form.Login.id }}" 
            name="{{ form.Login.name }}" 
            placeholder="ID ..." 
            required
            >
            
            <input 
            type="text" 
            id="{{ form.Password.id }}" 
            name="{{ form.Password.name }}" 
            placeholder="Mot de passe ..." 
            required
            >

            <div class="bas">
                <p>Vous êtes nouveau ? <a href="#">S'inscrire</a></p>
                <button type="submit">Se connecter</button>
            </div>
        
    </section>
</section>
</form>

{% endblock %}