{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_fichier_sequence.css') }}">
{% endblock %}

{% block main %}

<section class="block">
    <section class="titre">
        <h1>Campagne de Fouille : CPG-Alpha</h1>
    </section>
    <section class="detail">
        <article class="lstFichier">
            <div class="plus">
                <img src="{{ url_for('static', filename='img/plus.png') }}" alt=""> 
            </div>
            <p>Fichier Séquencé n°976</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°977</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°978</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°979</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°980</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°981</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°982</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°983</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°984</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°985</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°986</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°987</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°988</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°989</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°990</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°991</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°992</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°993</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°994</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°995</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°996</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°997</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°998</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°999</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°1000</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°1001</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°1002</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°1003</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°1004</p>
            <div class="trait_horizontal"></div>

            <p>Fichier Séquencé n°1005</p>
            <div class="trait_horizontal"></div>

        </article>
        <article class="detailFichier">
            <h4>Fichier Séquencé n°976</h4>
            <h4>Échantillon n°976</h4>
            <div class="trait_horizontal"></div>
            <p>Espèce : T-rex</p>
            <div class="commentaire">
                <p>Commentaire : </p>
                <textarea name="commentaire" id="commentaire" placeholder="..."></textarea>
            </div>
            <div class="televerser">
                <img src="{{ url_for('static', filename='img/televerser.png') }}" alt="">
                <button>Téléverser les séquences</button>
            </div>
        </article>
    </section>
</section>
{% endblock %}