{% extends "base.html" %}

{% block styles_additionnels %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ajout_supp.css') }}">
{% endblock %}

{% block main %}
<section class="block">
    <form role="form" method="POST" action="{{ url_for ('eraseCampagne') }}">
        <h1>Suppression de la campagne n°{{ campagne.numCampagne }}. Etes vous sur ?</h1>
        {{ deleteForm.hidden_tag () }}
        <div style="display: none;">
            {{ deleteForm.numCampagne(size=50, readonly=True, class_="menu_deroulant") }}
        </div>
        <div class="block_boutons">
            <input class="boutons_fonctionnels" type="submit" value="Confirmer">
            <a href="{{ url_for('detail_campagne', numCampagne=campagne.numCampagne) }}" class="boutons_fonctionnels">Retour</a>
        </div>
    </form>
</section>
{% endblock %}