{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ajouter_plate_fouille.css') }}">
{% endblock %}

{% block main %}
<section id="ajout">
    <form class="form-horizontal" role="form" method ="POST" action ="{{ url_for ('ajouter_campagne') }}">
        {{ form.hidden_tag() }}
        <div id = zone1>
            <label>Modifier une Campagne</label>
        <select class="select_pla" name="plateforme"required > 
            {%for plat in plateformes%}
            <option value={{plat.nomPlateforme}}>{{plat.nomPlateforme}}</option>
            {%endfor%}
        </select>
        <input id="" type="date" name="{{form.date.name}}" placeholder="Date de la campagne..." required>
        <input id="" type="text" name="lieu" placeholder="Lieu de la campagne..." >
        <input id="" type="text" name="{{form.duree.name}}" placeholder="Durée en jour..." required>
        </div>
        <select class="select_p" name="personnes" > 
            <option value="">-- Veuillez choisir les personnes voulues --</option>
        </select>
        <div class="boutons_form">
            <a href="{{ url_for('accueil') }}" class="boutons_plat" >Annuler</a>
            <button type="submit" class="boutons_plat">Modifier</button>
        </div>
    </form>
</section>

{% endblock %}