{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_plateforme_fouille.css') }}">
{% endblock %}

{% block main %}
<form class="form-horizontal" role="form" method ="POST" action ="">
<section class="block">
    <section class="plateforme">
        <article class="info">
            <h1>Plateforme de Fouille : {{plateforme["nom"]}}</h1>
            <div>
                <img class="position" src="{{ url_for('static', filename='img/position.png') }}" alt="">
                <p>{{plateforme["lieu"]}}</p>
            </div>
            <p>Nombre de personnes : {{plateforme["pers"]}}</p>
            <p>Intervalle de maintenance : {{plateforme["intervalle"]}} jours</p>
            <p>Dernière maintenance : {{plateforme["maint"]}} </p>
            <p>Prochiane maintenance : {{plateforme["pro"]}} </p>
            <p>Coût journalier : {{plateforme["cout"]}} €</p>
        </article>
        {%if current_user.poste == "technicien" %}
        <article class="maintenance">
            <div class="planifier">
                <div>
                    <p>Planifier une maintenance : </p>
                    {{maintenance.ProchaineMaintenance}}
                </div>
                <button id="submit"><img src="{{ url_for('static', filename='img/valider.png') }}" alt=""></button>
            </div>
        </article>
        {%endif%}
        <article class="bouton">
            <a href="{{ url_for('modif_plat') }}">Modifier les informations</a>
        </article>
    </section>
    <section class="equipemment">
        <h1>Liste des équipements sur la Plateforme</h1>
        <article>
            {% for obj in objets %}
            <div class="case">
                {% set nb = random.randint(1,14) %}
                <img class="fossile" src="{{ url_for('static', filename='img/fossiles/image' ~ nb ~ '.png') }}" alt="">
                <p>{{obj.nomEquipement}}</p>
            </div>
            {%endfor%}
        </article>
    </section>
</section>
</form>
{% endblock %}