{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_plateforme.css') }}">
{% endblock %}

{% block main %}

<section class="block">
    <section class="plateforme">
        <article class="info">
            <h1>Plateforme de Fouille : PTF-Alpha</h1>
            <div>
                <img class="position" src="{{ url_for('static', filename='img/position.png') }}" alt="">
                <p>Chem. de Meung-sur-Loire</p>
            </div>
            <p>Nombre de personnes : 36</p>
            <p>Intervalle de maintenance : 30 jours</p>
            <p>Dernière maintenance : 2025-07-12 </p>
            <p>Coût journalier : 4 200 €</p>
        </article>
        <article class="maintenance">
            <div class="planifier">
                <p>Planifier une maintenance : </p>
                <div>
                    <p>date</p>
                </div>
            </div>
            <div class="image_maint">
                <img src="{{ url_for('static', filename='img/valider.png') }}" alt="">
            </div>
        </article>
        <article class="bouton">
            <a href="">Voir la plateforme associée</a>
            <a href="">Modifier les informations</a>
        </article>
    </section>
    <section class="equipemment">
        <h1>Liste des équipements sur la Plateforme</h1>
        <article>
            <p>Pelle</p>
            <div class="trait_horizontale"></div>
            <p>Pelle</p>
            <div class="trait_horizontale"></div>
            <p>Pelle</p>
            <div class="trait_horizontale"></div>
            <p>Pelle</p>
            <div class="trait_horizontale"></div>
            <p>Pelle</p>
            <div class="trait_horizontale"></div>
            <p>Pelle</p>
            <div class="trait_horizontale"></div>
            <p>Pelle</p>
        </article>
    </section>
</section>
{% endblock %}