html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #dfcc9a;
}

header{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.575);
}

header .inside{
    margin: 10px;
}

header ul{
    display: flex;
    padding-left: 75em;
}

header li{
    margin-right: 0.8em;
    list-style-type: none;
}

header h1{
    margin-left: 1.5em;
}

header img {
    width: 5em;
    height: 5em;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}