html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f8ecce;
}

header{
    background-color: #dfcc9a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.575);
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


header ul{
    display: flex;
    gap: 2em;
    margin-right: 2em;
}

header li{
    list-style-type: none;
}

header h3{
    font-family: 'Old Standard TT', serif;
    font-size: 4em;
    margin: 0;
    margin-left: 1em;
}

header img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    margin-left: 1.5em;
}

header li a {
    display: inline-block;
    text-align: center;
    border: none;
    background-color: #f8ecce;
    padding: 0.3em 1em;
    text-decoration: none;
    color: black;
    border-radius: 1.5em;
    font-size: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.3s;
}

header li a:hover {
    transform: scale(1.05);
}

.profil {
    position: absolute;
    top: 7em;
    right: 0;
    background-color: #dfcc9a;
    display: none;
    box-shadow: -4px 4px 6px 1px rgba(0,0,0,0.3);
}