body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#ajout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5em;
    flex-direction: column;
}

#ajout h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

form {
    width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 2em 4em;
    box-sizing: border-box;
}

.form-group {
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: 'Old Standard TT', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5em;
    display: block;
}

.form-control {
    background-color: #dccca5;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    border: none;
    border-radius: 1.2em;
    padding: 15px 20px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.form-control::placeholder {
    color: rgba(59, 59, 59, 0.8);
    font-weight: bold;
}

.boutons_form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.boutons_plat {
    color: #000;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    background-color: #dccca5;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.3s;
}

.boutons_plat:hover {
    transform: scale(1.05);
}

.annuler {
    background: none;
    border: none;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

a {
    text-decoration: none;
}
