.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin: 5em;
}

.titre {
    width: 100%;
    padding: 0.6em 0;
    background-color: #fff3d5;
    border-radius: 3em;
    text-align: center;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
}

.trait_horizontal {
    width: 95%;
    background-color: black;
    height: 0.125em;
    margin-left: 2em;
}

.lstFichier {
    flex-basis: 65%;
    flex-grow: 1;
    background-color: #fff3d5;
    border-radius: 1em;
    align-self: flex-start;
    height: 35em;
    overflow-y: auto;
    border: 0.125em solid var(--header);
    border-radius: 20px 0 0 20px;
}

.lstFichier p {
    margin: 0 2em;
    padding: 1em 0;
    transition: 0.3s;
}

.lstFichier p:hover {
    background-color: #dfcc9a;
}

.detailFichier {
    flex-basis: 25%;
    background-color: #fff3d5;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
}

.detailFichier .trait_horizontal {
    margin: 0;
}

.televerser button {
    font-size: 1.1em;
    margin: 2em 0;
    background-color: #dfcc9a;
    padding: 1em 3em;
    border-radius: 2em;
    border: none;
}

.televerser textarea {
    width: 100% ;
}

.plus {
    width: 95%;
    margin: 2em;
    border-radius: 2em;
    background-color: #dfcc9a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em 0;
}

.plus img {
    width: 4em;
    height: auto;
}