.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em;
}

.titre {
    width: 100%;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 2em;
    margin: 0;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
}

.trait_horizontal {
    width: 95%;
    background-color: black;
    height: 0.125em;
    margin-left: 2em;
}

.lstFichier {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex-basis: 55%;
    flex-grow: 1;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    align-self: flex-start;
    height: 40em;
    overflow-y: auto;
    border: 0.125em solid var(--header);
    padding: 2.5em 4em 0 4em;
}

.lstFichier p {
    margin: 0 2em;
    padding: 1em 0;
    transition: 0.3s;
}

.case {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.4s;
    gap: 2em;
    transition: 0.4s;
}


.case:hover,
.plus:hover  {
    transform: scale(1.02);
}

.fossile {
    width: auto;
    height: 10em;
    border-radius: 1.4em 0 0 1.4em;
}

.detailFichier {
    flex-basis: 35%;
    background-color: #F9F7F2;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    align-items: center;
}

.detailFichier .trait_horizontal {
    margin: 0;
}


.detailFichier h4 {
    font-family: 'Old Standard TT', serif;
    font-size: 2em;
    margin: 0.5em 0;
}

.detailFichier p {
    font-size: 1.5em;
}

.televerser button {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: 1.1em;
    margin: 2em 0;
    background-color: #dfcc9a;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 1em 3em;
    border-radius: 2em;
    border: none;
    transition: 0.3s;
}

.televerser button:hover {
    transform: scale(1.05);
}

.commentaire {
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentaire textarea {
    width: 95%;
}

.plus {
    width: 100%;
    border-radius: 1.2em;
    background-color: #F9F7F2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 0.3em 0;
    transition: 0.4s;
}

.plus img {
    width: 4em;
    height: auto;
}

.file-item.active {
    background-color: #dfcc9a;
    transition: 0.3s;
}