html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f8ecce;
}

header{
    background-color: #dfcc9a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.575);
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


header ul{
    display: flex;
    gap: 2em;
    margin-right: 2em;
}

header li{
    list-style-type: none;
}

header h3{
    font-family: 'Old Standard TT', serif;
    font-size: 4em;
    margin: 0;
    margin-left: 1em;
}

header img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    margin-left: 1.5em;
}

header li a {
    display: inline-block;
    text-align: center;
    border: none;
    background-color: #f8ecce;
    padding: 0.3em 1em;
    text-decoration: none;
    color: black;
    border-radius: 1.5em;
    font-size: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.3s;
}

header li a:hover {
    transform: scale(1.05);
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6em;
    right: 5%;
    background-color: #f8ecce;
    display: none;
    border-radius: 1.5em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 0 2em 0 0.5em;
    justify-content: center;
    text-align: center;
}

.profil h1 {
    font-family: 'Old Standard TT', serif;
    margin: 0;
}

.profil img {
    margin-left: 1.5em;
    margin-top: 1em;
    width: 6em;
    height: auto;
}

.flash-messages {
    width: 80%;
    margin: 1em auto;
}
.flash {
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    border: 1px solid transparent;
}
.flash.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}
.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}