a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10em;
}

form {
    width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 2em;
}

.menu_deroulant {
    background-color: #dccca5;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    border: none;
    border-radius: 1.2em;
    padding: 15px 50px;
    color: black;
    font-weight: bold;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2rem;
}

.menu_deroulant::placeholder {
    color: rgba(59, 59, 59, 0.8);
    font-weight: bold;
}

.block_boutons {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 2em;
    margin-top: 2em;
}

.boutons_fonctionnels,
.input_moitie {
    color: #000;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    background-color: #dccca5;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.3s;
    text-decoration: none;
}

.boutons_fonctionnels:hover {
    transform: scale(1.05);
}

.sous_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.input_moitie {
    flex-basis: 30%;
    flex-grow: 1;
}

.input_moitie::placeholder {
    color: #181818;
}

.custom-check {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.custom-check input {
    position: absolute;
    opacity: 0;
}

.custom-check label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #dccca5;
    border-radius: 0.125em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    margin-right: 8px;
    vertical-align: middle;
}

.custom-check input:checked + label::before {
    background-color: #dccca5;
}

.custom-check input:checked + label::before {
    content: "✔";
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 18px;
}

.proba {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.block_echantillons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 18%;
}

.arbre {
    text-align: left;
    overflow-x: auto;
}