html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #dfcc9a;
}

header{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.575);
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .inside{
    margin: 10px;
}

header ul{
    display: flex;
    gap: 2em;
    margin-right: 2em;
}

header li{
    list-style-type: none;
}

header h1{
    margin-left: 1.5em;
}

header img {
    width: 5em;
    height: 5em;
    object-fit: cover;
}

header li a {
    text-align: center;
    border: none;
    background-color: #dfcc9a;
    padding: 0.3em 1em;
    text-decoration: none;
    color: black;
    border-radius: 1.5em;
}