.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin: 5em;
    margin-top: 5em;
}

img {
    width: 3em;
    height: auto;
}

.block h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 2.5em;
    margin: 0.5em 0 0 0;
}

.plateforme {
    align-self: flex-start;
    flex-basis: 65%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    padding: 2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    gap: 1em;
}

.info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.maintenance {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3em;
    align-items: center;
}

.maintenance .planifier {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 1.3em 0.5em;
}

.planifier>div {
    display: flex;
    flex-direction: row;
    margin-left: 10em;
}

.planifier input {
    background-color: #dfcc9a;
    border: none;
    border-radius: 1.2em;
    padding: 1em 1em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    margin-left: 1em;
    transition: 0.3s;
}

.planifier input:hover {
    transform: scale(1.05);
}


.planifier button {
    background-color: #dfcc9a;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.3s;
    border: none;
    padding: 0.5em 4em;
}

.planifier button:hover {
    transform: scale(1.05);
}

.bouton {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1em;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.4s;
}

.bouton a {
    text-align: center;
    background-color: #F9F7F2;
    flex-grow: 1;
    border-radius: 0.9em;
    padding: 1.3em;
    color: black;
    text-decoration: none;
}

.bouton:hover {
    transform: scale(1.02);
}

.equipemment {
    align-self: flex-start;
    flex-basis: 35%;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 2em;
}

.equipemment article {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

p, a {
    font-size: 1.3em;
    margin: 0;
}

.position {
    height: 2.5em;
    width: auto;
}

.acceder {
    width: 100%;
    text-align: center;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.4s;
}

.acceder:hover {
    transform: scale(1.03);
}

.acceder a {
    text-decoration: none;
    color: black;
}

.equipemment .case {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.4s;
    gap: 2em;
}

p, a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.equipemment .case:hover {
    transform: scale(1.03);
}

.fossile {
    width: auto;
    height: 10em;
    border-radius: 1.4em 0 0 1.4em;
}

.gestion {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3em;
}

.gestion article {
    text-align: center;
    flex-basis: 45%;
    flex-grow: 1;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    background-color: #F9F7F2;
    transition: 0.4s;
}

.gestion article:hover {
    transform: scale(1.04);
}

.gestion article a,
.acceder a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1.1em 0;
}
