html, body {
    height: 100%;
    margin: 0;
}

.block {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    position: relative;
    justify-content: space-between;
    gap: 2rem;  
}

.block section {
    padding: 2.5em;
    width: 23em;
    text-align: center;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    flex: 1;
}

h2 {
    font-weight: 700;
    font-size: 2em; 
    margin-bottom: 1em;
    font-family: 'Old Standard TT', serif;
}

form input {
    width: 100%;
    padding: 0.93em;
    margin-bottom: 1.25em;
    border: none;
    background-color: #dfcc9a;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    font-size: 1em;
    box-sizing: border-box;
    color: #000000;
}

.bas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3em;
    font-size: 0.95em;
}

.bas p {
    margin: 0;
    color: #000000;
}

.bas a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.bas a:hover {
    text-decoration: underline;
}

.bas button {
    padding: 0.625em 1.25em;
    border: none;
    font-size: 1em; 
    font-weight: 700;
    cursor: pointer;
    background-color: #dfcc9a;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.3s;
}

.bas button:hover {
    transform: scale(1.04);
}

.block img {
    width: 28%;
    height: auto;
    position: relative;
    margin-left: 6em;
    margin-bottom: -7em;
}