body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#ajout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 13em;
}

form {
    width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F7F2;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    padding: 0 2em 2em 2em;
}

#zone1 {
    width: 100%;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

#zone1 label {
    grid-column: 1 / -1;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 3em;
    font-weight: bold;
    color: #000;
    margin: 0;
    display: block;
}

#zone1 input,
select {
    background-color: #dccca5;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    border: none;
    border-radius: 1.2em;
    padding: 15px 20px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

#zone1 input::placeholder {
    color: rgba(59, 59, 59, 0.8);
    font-weight: bold;
}

#zone1 input:focus {
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
}

#ajout h2 {
    font-size: 1.5em;
    margin: 0.3em 0;
}

#ajout li {
    list-style: none;
    flex-grow: 1;
    font-size: 1.2em;
    align-items: center;
}

#zone2 ul,
#zone3 ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}

.custom-check input {
    position: absolute;
    opacity: 0;
}

.custom-check label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #dccca5;
    border-radius: 0.125em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    margin-right: 8px;
    vertical-align: middle;
}

.custom-check input:checked + label::before {
    background-color: #dccca5;
}

.custom-check input:checked + label::before {
    content: "✔";
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 18px;
}

.boutons_form {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 2em;
    margin-top: 2.5em;
}

.boutons_plat {
    color: #000;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    background-color: #dccca5;
    border-radius: 1.2em;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    transition: 0.3s;
}

.boutons_plat:hover {
    transform: scale(1.05);
}

.annuler {
    background: none;
    border: none;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

a {
    text-decoration: none;
}